<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BMI</title>
        <style>
         body  {
    background-image: url("static/bg.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div {
  border-radius: 5px;
  background: rgba(192, 185, 185, 0.5);
  padding: 50px 50px;
  height: 400px;
  width: 20%;
  margin: auto;
  position: absolute;
  top: 50%;
  left:36%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}</style>
    </head>
<body>
    <div>
    <h1>{{status}}</h1>
    <h3>Gender : {{gender}}</h3>
   <h3>Weight : {{weight}} kg</h3>
    <h3>Height : {{height}} m</h3>
    </div></div>
</body>
</html>